<div class="animated fadeIn">
    <div ng-controller="ljurusanCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Daftar Jurusan</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.kelompok_jurusan"
                                                    ng-change="getListKelas(filter.kelompok_jurusan)">
                                                <option ng-repeat="(key, row) in listJurusan" value="{{ row.id }}">
                                                    {{ row.nama }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.kelompok_kelas">
                                                <option ng-repeat="(key, row) in listKelas" value="{{ row.id }}">
                                                    {{ row.nama_kelas }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn btn-primary" ng-click="getLaporan(filter)">
                                                <i class="fa fa-search"></i>
                                                Tampilkan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" ng-show="tampilkan">
            <div class="card-body" id="print">
                <div align="left">
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <center>
                                <h2 class="header-laporan">LAPORAN DAFTAR MAHASISWA</h2>
                                </br>
                            </center>
                            <hr/>
                        </div>

                        <div class="col-md-12">
                            <div ng-repeat="(key, row) in listMhs">
                                <div class="table-responsive">
                                    <div class="col-md-6">
                                        Jurusan : <b>{{row.jurusan_nama}}</b>
                                    </div>
                                    <div class="col-md-6">
                                        Alamat : <b>{{row.jurusan_alamat}}</b>
                                    </div>
                                    <div class="col-md-6">
                                        Telepon : <b>{{row.jurusan_telepon}}</b>
                                    </div>
                                    <div class="col-md-6">
                                        <div ng-if="row.kelas_nama.length>0">
                                            Kelas : <b>{{row.kelas_nama}}</b>
                                        </div>
                                        <div ng-if="row.kelas_nama.length==0 || row.kelas_nama.length==undefined">
                                            Kelas : <b>Tidak Ada Kelas</b>
                                        </div>
                                    </div>
                                    <br>
                                </div>

                                <table border="1" class="table table-hover table-bordered table-print">
                                    <thead>
                                    <tr align="center">
                                        <th>NIM</th>
                                        <th>Nama</th>
                                        <th>Alamat</th>
                                        <th>Tanggal Lahir</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-show="!isLoading" ng-repeat="val in row.listMhs"
                                           ng-if="row.listMhs.length>0">
                                    <tr>
                                        <td class="align-left">{{ val.mahasiswa_nim }}</td>
                                        <td class="align-left">{{ val.mahasiswa_nama }}</td>
                                        <td class="align-left">{{ val.mahasiswa_alamat }}</td>
                                        <td class="align-left">{{ val.mahasiswa_tanggal_lahir }}</td>
                                    </tr>
                                    </tbody>
                                    <tr ng-if="row.listMhs.length==0 || row.listMhs.length==undefined">
                                        <td class="align-center" colspan="4">Tidak Ada Mahasiswa</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>