<div class="animated fadeIn">
    <div ng-controller="tkelompokkelasCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Kelompok Kelas</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Jurusan</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_jurusan.nama" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Jurusan"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Status</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm"
                                                    st-search="t_kelompok_kelas.is_deleted">
                                                <option value="0">Aktif</option>
                                                <option value="1">Terhapus</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">No</th>
                            <th class="align-left">Jurusan</th>
                            <th class="align-left">Kelas</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ row.id }}</td>
                            <td class="align-left">{{ row.namajurusan }}</td>
                            <td class="align-left">{{ row.namaKelas }}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0"
                                            ng-click="trash(row)"></button>
                                    <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1"
                                            ng-click="restore(row)"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle }}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label-sm">Jurusan</label>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <ui-select ng-model="form.m_jurusan_id" theme="bootstrap" ng-disabled="is_view"
                                                   on-select="getListKelas(form.m_jurusan_id)">
                                            <ui-select-match placeholder="Ketik Jurusan">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="cariJurusan($select.search)"
                                                               repeat="vals in listJurusan | filter : $select.search">
                                                {{vals.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label-sm">Kelas</label>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <ui-select ng-model="form.m_kelas_id" ng-disabled="is_view" theme="bootstrap">
                                            <ui-select-match placeholder="Ketik Kelas">
                                                {{$select.selected.nama_kelas}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="cariKelas($select.search)"
                                                               repeat="vals in listKelas | filter : $select.search">
                                                {{vals.nama_kelas}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header" style="margin-bottom: 0px;">Detail</h6>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="align-left">mahasiswa_id</th>
                                    <th class="align-center" style="width: 10px;">
                                        <button type="button" class="btn btn-success fa fa-plus"
                                                ng-click="addDetail(listDetail)" ng-disabled="is_view"></button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="detail in listDetail">
                                    <td class="align-left">
                                        <ui-select ng-model="detail.mahasiswa_id" ng-disabled="is_view" theme="bootstrap">
                                            <ui-select-match placeholder="Ketik Nama Mahasiswa">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="cariMahasiswa($select.search)"
                                                               repeat="vals in listMahasiswa | filter : $select.search">
                                                {{vals.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                                    <td class="align-center">
                                        <button type="button" class="btn btn-danger fa fa-minus"
                                                ng-click="removeDetail(listDetail, $index)"
                                                ng-disabled="is_view"></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>