<div class="modal-header bg-primary">
    <h5 class="modal-title">Form Tambah Barang</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <form name="landaform" novalidate="">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label-sm">Kategori Barang</label>
                    <div class="col-md-9">
                        <div class="form-group">
                            <ui-select ng-model="form.m_kategori_id" theme="bootstrap">
                                <ui-select-match placeholder="Pilih Kategori Barang">
                                    {{$select.selected.nama}}
                                </ui-select-match>
                                <ui-select-choices position="down" refresh="cariKategori($select.search)"
                                                   repeat="val in listBarang | filter : $select.search">
                                    {{val.nama}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label-sm required">Nama Barang</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" ng-model="form.nama_barang"
                               ng-disabled="is_view"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label-sm">Stok Barang</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" ng-model="form.stok_barang"
                               maxlength="11" ng-disabled="is_view"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label-sm">Satuan</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" ng-model="form.satuan"
                               maxlength="255" ng-disabled="is_view"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="save(form)">
        <i class="fa fa-save"></i>
        Simpan
    </button>
</div>
