<div class="animated fadeIn">
    <div ng-controller="msekolahCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Sekolah</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama Sekolah</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_sekolah.nama_sekolah"
                                                   class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Nama Sekolah"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Status</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm"
                                                    st-search="m_sekolah.is_deleted">
                                                <option value="0">Aktif</option>
                                                <option value="1">Terhapus</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">No</th>
                            <th class="align-left">Nama Sekolah</th>
                            <th class="align-left">Alamat Sekolah</th>
                            <th class="align-left">Jenis Sekolah</th>
                            <th class="align-left">No Telepon</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ $index + 1 }}</td>
                            <td class="align-left">{{ row.nama_sekolah }}</td>
                            <td class="align-left">{{ row.alamat_sekolah }}</td>
                            <td class="align-left">{{ row.jenis_sekolah }}</td>
                            <td class="align-left">{{ row.no_telepon }}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0"
                                            ng-click="trash(row);"></button>
                                    <button type="button" class="btn btn-warning fa fa-refresh"
                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle }}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Sekolah</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama_sekolah"
                                           maxlength="255" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat Sekolah</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.alamat_sekolah" maxlength="255" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No Telepom</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_telepon"
                                           maxlength="255" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Jenis Sekolah</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.jenis_sekolah" maxlength="255" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header" style="margin-bottom: 0px;">Detail</h6>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="align-left">nis</th>
                                    <th class="align-left">nama_siswa</th>
                                    <th class="align-left">tanggal_lahir</th>
                                    <th class="align-center" style="width: 10px;">
                                        <button type="button" class="btn btn-success fa fa-plus"
                                                ng-click="addDetail(listDetail)" ng-disabled="is_view"></button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="detail in listDetail">
                                    <td class="align-left">
                                        <input type="text" class="form-control form-control-sm" maxlength="255"
                                               ng-model="detail.nis" ng-disabled="is_view"/>
                                    </td>
                                    <td class="align-left">
                                        <input type="text" class="form-control form-control-sm" maxlength="255"
                                               ng-model="detail.nama_siswa" ng-disabled="is_view"/>
                                    </td>
                                    <td class="align-left">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm"
                                                   is-open="opened.tanggal_lahir" ng-disabled="is_view"
                                                   ng-click="toggle($event, 'tanggal_lahir')"
                                                   ng-model="detail.tanggal_lahir"
                                                   uib-datepicker-popup="dd MMMM yyyy"
                                                   datepicker-options="{minMode: 'day'}"
                                                   placeholder="Tanggal Lahir">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-center">
                                        <button type="button" class="btn btn-danger fa fa-minus"
                                                ng-click="removeDetail(listDetail, $index)"
                                                ng-disabled="is_view"></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
